extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1 FeelGood
              h2 O buscador de serviços que você mais precisa

    section(class="main-content")
      h3 Busque um serviço
      form(action="/" method="POST")
        .form-group(style="margin-right: 10")
            input.form-control(type='text', name='serviceName')
        button.btn.btn-primary(type="submit") Buscar
      if services
        each service in services
            p=service

        